@theme inline {
  /* Dark Theme (default) */
  --color-primary-1: #1e3a8a;
  --color-primary-2: #3b82f6;
  --color-primary-3: #93c5fd;

  --color-secondary-1: #4c1d95;
  --color-secondary-2: #8b5cf6;
  --color-secondary-3: #ddd6fe;

  --color-tertiary-1: #064e3b;
  --color-tertiary-2: #34d399;
  --color-tertiary-3: #a7f3d0;

  --color-success-1: #064e3b;
  --color-success-2: #22c55e;
  --color-success-3: #bbf7d0;

  --color-warning-1: #78350f;
  --color-warning-2: #facc15;
  --color-warning-3: #fef08a;

  --color-error-1: #7f1d1d;
  --color-error-2: #ef4444;
  --color-error-3: #fecaca;

  --color-info-1: #082f49;
  --color-info-2: #0ea5e9;
  --color-info-3: #bae6fd;

  --color-gray-1: #000000;
  --color-gray-2: #374151;
  --color-gray-3: #d1d5db;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Light Theme */
    --color-primary-1: #e3f0ff;
    --color-primary-2: #60a5fa;
    --color-primary-3: #1d4ed8;

    --color-secondary-1: #f3e8ff;
    --color-secondary-2: #a78bfa;
    --color-secondary-3: #7c3aed;

    --color-tertiary-1: #f0fdf4;
    --color-tertiary-2: #6ee7b7;
    --color-tertiary-3: #059669;

    --color-success-1: #dcfce7;
    --color-success-2: #4ade80;
    --color-success-3: #15803d;

    --color-warning-1: #fef9c3;
    --color-warning-2: #fde047;
    --color-warning-3: #ca8a04;

    --color-error-1: #fee2e2;
    --color-error-2: #f87171;
    --color-error-3: #b91c1c;

    --color-info-1: #e0f2fe;
    --color-info-2: #38bdf8;
    --color-info-3: #0369a1;

    --color-gray-1: #f3f4f6;
    --color-gray-2: #d1d5db;
    --color-gray-3: #374151;
  }
}
