@import "../styles/palette.css";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101214;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
  height: 100vh;
}

.hide-scroll::-webkit-scrollbar {
  display: none !important;
}

/************* Custom ScrollBar ***********/
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  margin-right: 10px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(31, 41, 55, 0.4);
  height: 6px;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  width: 2px;
  background: #3b82f6;
  border-radius: 50%;
  border: none;
}
